h2{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

form{
    width: 400px;
    height: 300px;
    font-size: 12px;
    padding: 10px;
    border: 1px solid;
    box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
    margin:auto;
    position: relative;
    line-height: 24px;
    border-radius: 8px;
}

input {
    width: 375px;
    display: block;
    border: 1px solid #999;
    height: 35px;
    -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  }

  button {
    position: relative;
    background: #09C;
    color: #fff;
    font-family: Tahoma, Geneva, sans-serif;
    height: 30px;
    width: 60px;
    left: 130px;
    border-radius: 8px;
    border: 1p solid;
  }

  #bmi{
      left:160px;
  }
  #bmiform{
      height:200px;
  }