    body{
    margin:0;
    line-height: 1.5;
    background-image: linear-gradient( 45deg, #cfd9df, #e2ebf0);
}

h2{
    text-align: center;
    font-size: xx-large;
    font-weight: bolder;
    font-family: sans-serif;
}

.container{
    width:80%;
    margin:auto;
    border-left: 2px solid black;
    border-right: 2px solid black;
}

.inside{
    width:80%;
    margin:auto;
}

.inside input{
    width:100%;
    height:50px;
    margin:2% 0%;
    /*! margin: ; */
}

.inside button{
    border:none;
    background-color: aliceblue;
    width:30%;
    padding:5% ;
    margin:5% 32%;

}

p{
    text-align: center;
    text-decoration: dashed;
    font-size: xx-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

